.about-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	width: 100vw;
	height: 100vh;
	background-color: rgb(218, 218, 218);
	line-height: 2.5rem;
	color: #333;
}

@media only screen and (max-width: 768px) {
	.about-container {
		display: block;
		height: auto;
	}
}

.about-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
	width: 45vw;
	height: 85vh;
	margin: 6rem auto 0;
	border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
	.about-card {
		display: block;
		width: 95vw;
		height: auto;
	}
}

.about-header {
	font-weight: 400;
	text-align: center;
	margin: 1rem;
}

.about-header-span {
	font-weight: 700;
}

.about-ul {
	-moz-column-count: 2;
	column-count: 2;
	-moz-column-gap: 0.5rem;
	column-gap: 0.5rem;
	-moz-column-rule: 4px double #5b4e8f;
	column-rule: 4px double #5b4e8f;
	-moz-column-break-inside: none;
	break-inside: none;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
	.about-ul {
		-moz-column-count: 1;
		column-count: 1;
		-moz-column-rule: none;
		column-rule: none;
	}
}

.about-header-link,
.about-paragraph-link {
	text-decoration: none;
	color: #5b4e8f;
	font-weight: 900;
}

.about-li {
	list-style: none;
	padding-right: 1rem;
}

.collaboration {
	text-align: center;
}

.big {
	font-size: 3rem;
	line-height: 4rem;
}

hr {
	width: 30vw;
	margin: 1rem;
	border: 1px solid #5b4e8f;
}

@media only screen and (max-width: 768px) {
	hr {
		margin: 0 auto;
	}
}
