.about-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(218, 218, 218);
	width: 100vw;
	height: 100vh;
}

.about-logo {
	border-radius: 50%;
	width: 30%;
	margin: 5rem 0 1rem 1rem;
}

.about-card-container {
	width: 60%;
	font-size: 1.5rem;
	font-weight: 900;
	color: #333;
	margin: 5rem 1rem 1rem 0;
}

.about-card {
	width: 100%;
}

.about-card:first-child {
	border-radius: 1rem;
	background-color: rgba(221, 179, 101, 0.5);
	padding: 1rem;
}

.about-card:nth-child(2),
.about-card:nth-child(3) {
	font-size: 1.2rem;
	margin-top: 5rem;
}

.about-text {
	font-weight: 400;
	text-align: center;
}

.about-text-span {
	font-weight: 700;
}

.about-ul {
	-moz-column-count: 2;
	column-count: 2;
	-moz-column-gap: 0.5rem;
	column-gap: 0.5rem;
	-moz-column-rule: 4px double #5b4e8f;
	column-rule: 4px double #5b4e8f;
	-moz-column-break-inside: none;
	break-inside: none;
	margin-bottom: 1rem;
}

.about-text-link {
	text-decoration: none;
	font-family: 'Nunito Sans', sans-serif;
	color: #342c52;
	border-radius: 1rem;
	font-weight: 700;
}

.about-li {
	list-style: none;
	text-align: center;
	padding-right: 1rem;
}

@media only screen and (max-width: 1200px) {
	.about-card-container {
		width: 90%;
		font-size: 1.5rem;
		margin: 2rem auto 1rem;
	}

	.about-container {
		display: block;
	}

	.about-logo {
		display: block;
		margin: 5rem auto 0;
	}
}

@media only screen and (max-width: 768px) {
	.about-card-container {
		margin: 5rem auto;
	}

	.about-logo {
		display: none;
	}

	.about-ul {
		-moz-column-count: 1;
		column-count: 1;
		-moz-column-rule: none;
		column-rule: none;
	}
}
