.contact {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.contact-main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5em;
}

.contact-main-text {
	font-size: var(--large-font-size);
	margin-top: 1rem;
}

.contact-main-card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.contact-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.contact-block {
	display: flex;
	align-items: center;
}

.contact-text,
.contact-link {
	font-size: var(--large-font-size);
	line-height: 3rem;
	margin-left: 0.5rem;
}

.contact-link {
	text-decoration: none;
	font-weight: var(--bold-font-weight);
	color: var(--dark-grey);
}

.contact-link:hover,
.contact-link:visited {
	text-decoration: none;
	color: var(--light-purple);
}

.flags {
	margin-top: 2rem;
}

.contact-flags-container {
	display: block;
	margin: 0 auto;
}

.contact-main-container-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
}

.contact-footer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: var(--black-shadow);
	margin-top: 2rem;
}
