.card-container {
	display: inline-table;
	background-color: var(--light-grey);
	border-radius: 1rem;
	box-shadow: 2px 2px 2px 2px var(--light-black-shadow);
	margin-bottom: 1rem;
}

.image {
	width: 100%;
	padding: 0.5rem;
	border-radius: 1rem;
}

.author {
	padding-left: 1rem;
}

.detail {
	padding-left: 2rem;
	list-style: none;
}

.tag-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem 0 0.5rem;
}
