.image-max-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: var(--black-shadow);
}

.image-max {
	margin-top: 4.5rem;
	height: 85vh;
	box-shadow: 2px 2px 2px 2px var(--light-black-shadow);
}

@media only screen and (max-width: 768px) {
	.image-max {
		width: 100%;
		height: auto;
		overflow: hidden;
	}
}

.close-button {
	position: fixed;
	top: 5rem;
	left: 47.5%;
	background-color: var(--gold);
	box-shadow: 0 10px 10px 0 var(--black-shadow);
	color: var(--light-grey);
	border-radius: 50%;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border: none;
	font-size: var(--large-font-size);
}
