.navbar-ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	list-style-type: none;
	font-size: var(--large-font-size);
	margin: 0;
	padding: 1rem;
	overflow: hidden;
	background-color: var(--dark-grey);
}

.navbar-link {
	text-decoration: none;
	font-family: var(--main-font-family);
	color: var(--grey);
}

.current {
	text-decoration: none;
	font-family: var(--main-font-family);
	font-weight: var(--bold-font-weight);
	color: var(--gold);
}
