*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.no-image,
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-container {
	width: 100vw;
	height: 100vh;
}
